.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/background-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 94%);
    color: var(--primary-color-two);
    position: relative;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


